html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    border: 2px solid white;
    box-sizing: border-box;
    background-color: black;
    font-family: Arial, sans-serif;
}
#container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#event-bg {
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: relative;
}

#timeline {
  display: inline-block;
  width: calc(99.5% * 2);
  height: 10px;
  position: relative;
  box-shadow: 0 0 5px rgba(4, 9, 25, 0.936) inset;
  z-index: 1;
  background-color: lighten(#45AADA, 20%);
  top: 600px;
}
  .dot {
    box-shadow: 0 0 5px rgba(50, 255, 74, 0.936) inset;
    z-index: 99;
    transition : 0.3s ease-in-out;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    text-align: center;
    cursor: pointer;
    color: white;
  }
  .dot:hover {
    transform: scale(1.2);
  }
 #one{
    left: 7.7%;
    background-color: #f82249;
  }
  #two{
    left: 15.4%;
    background-color: #f82249;
  }
  #three{
    left: 23.1%;
    background-color: #f82249;
  }
  #four{
    left: 30.8%;
    background-color: #f82249;
  }
  #five{
    left: 38.5%;
    background-color: #f82249;
  }
  #six{
    left: 46.2%;
    background-color: #f82249;
  }
  #seven{
    left: 53.9%;
    background-color: #f82249;
  }
  #eight{
    left: 61.6%;
    background-color: #f82249;
  }
  #nine{
    left: 69.4%;
    background-color: #f82249;
  }
  #ten{
    left: 77.1%;
    background-color: #f82249;
  }
  #eleven{
    left: 84.8%;
    background-color: #f82249;
  }
  #twelve{
    left: 92.5%;
    background-color: #f82249;
  }
  span {
    display: inline-block;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(50, 255, 74, 0.936);
  }
.location {
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 3;
}
.location:hover {
    transform: scale(1.5);
}
#card-container {
  display: none;
  height: 300px;
  width: 250px;
  position: sticky;
  left: 10px;
  margin-top: -500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
    visibility: hidden;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 80%;
    height: 85%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.random {
  display: block;
  width: 100px;
  height: 500px;
}
.container {
  overflow-x: scroll;
  overflow-y: auto;
}
#event-bg::-webkit-scrollbar {
  display: none;
}
.horizontal-line {
  width: 100%;
  background-color: #fff;
  height: 2px;
}
h1, h2 {
  color: white;
  text-align: center;
}
h1 {
  font-size: 2.5rem;
}
.event-list-timeline {
  grid-area: 1 / 1 / 13 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 70vh);
}
.timeline-square {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.timeline-date {
  width: 70%;
  height: 70%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline-month {
  width: 100%;
  height: 20px;
  text-align: center;
  font-size: larger;
}
.event-card {
  display: grid;
  grid-template-columns: repeat(12, 8.2%);
  grid-template-rows: 10% 90%;
  border: 2px solid white;
  border-radius: 5px;
  margin: 20px 0;
  max-height: 460px;
}
.event-title {
  margin: 30px;
  grid-area: 1 / 1 / 2 / 13;
}
.image-container {
  grid-area: 2 / 1 / 3 / 7;
  background-color: aquamarine;
  width: 360px;
  height: 360px;
  border-radius: 5px;
  margin: auto auto;
  position: relative;
}
.event-image {
  width: 360px;
  height: 360px;
  border-radius: 5px;
}
.event-content {
  grid-area: 2 / 7 / 3 / 13;
  color: white;
  width: auto;
  height: 360px;
  min-height: 100px;
  margin: auto auto;
  font-size: 20px;
  text-align: justify;
  overflow: auto;
  padding-right: 5px;
}
.prev-image, .next-image {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.3);
}
.prev-image {
  left: 0;
}
.next-image {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev-image:hover, .next-image:hover {
  background-color: rgba(0,0,0,0.8);
}
.event-card-container {
  grid-area: 1 / 2 / 13 / 13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 70vh);
}
#event-list-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 70vh);
  margin-right: 10px;
}
.up-arrow {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#event1 {
  grid-area: 1 / 1 / 2 / 13;
}
#event2 {
  grid-area: 2 / 1 / 3 / 13;
}
#event3 {
  grid-area: 3 / 1 / 4 / 13;
}
#event4 {
  grid-area: 4 / 1 / 5 / 13;
}
#event5 {
  grid-area: 5 / 1 / 6 / 13;
}
#event6 {
  grid-area: 6 / 1 / 7 / 13;
}
#event7 {
  grid-area: 7 / 1 / 8 / 13;
}
#event8 {
  grid-area: 8 / 1 / 9 / 13;
}
#event9 {
  grid-area: 9 / 1 / 10 / 13;
}
#event10 {
  grid-area: 10 / 1 / 11 / 13;
}
#event11 {
  grid-area: 11 / 1 / 12 / 13;
}
#event12 {
  grid-area: 12 / 1 / 13 / 13;
}
.square-one {
  grid-area: 1 / 1 / 2 / 2;
}
.square-two {
  grid-area: 2 / 1 / 3 / 2;
}
.square-three {
  grid-area: 3 / 1 / 4 / 2;
}
.square-four {
  grid-area: 4 / 1 / 5 / 2;
}
.square-five {
  grid-area: 5 / 1 / 6 / 2;
}
.square-six {
  grid-area: 6 / 1 / 7 / 2;
}
.square-seven {
  grid-area: 7 / 1 / 8 / 2;
}
.square-eight {
  grid-area: 8 / 1 / 9 / 2;
}
.square-nine {
  grid-area: 9 / 1 / 10 / 2;
}
.square-ten {
  grid-area: 10 / 1 / 11 / 2;
}
.square-eleven {
  grid-area: 11 / 1 / 12 / 2;
}
.square-twelve {
  grid-area: 12 / 1 / 13 / 2;
}
#location-one {
  top: 230px;
  left: calc(7.7% * 2);
}
#location-two {
  top: 100px;
  left: calc(15.4% * 2);
}
#location-three {
  top: 150px;
  left: calc(23.1% * 2);
}
#location-four {
  top: 350px;
  left: calc(30.8% * 2);
}
#location-five {
  top: 300px;
  left: calc(38.5% * 2);
}
#location-six {
  top: 450px;
  left: calc(46.2% * 2);
}
#location-seven {
top: 350px;
left: calc(53.9% * 2);
}
#location-eight {
top: 50px;
left: calc(61.6% * 2);
}
#location-nine {
top: 200px;
left: calc(69.4% * 2);
}
#location-ten {
top: 150px;
left: calc(77.1% * 2);
}
#location-eleven {
top: 350px;
left: calc(84.8% * 2);
}
#location-twelve {
top: 100px;
left: calc(92.5% * 2);
}
@media only screen and (max-width: 376px) {
  
  #timeline {
    display: inline-block;
    width: calc(99.5% * 3.5);
    height: 10px;
    position: relative;
    box-shadow: 0 0 5px rgba(50, 255, 74, 0.936) inset;
    z-index: 1;
    background-color: lighten(#45AADA, 20%);
    top: 500px;
  }
    .dot {
      box-shadow: 0 0 5px rgba(50, 255, 74, 0.936) inset;
      z-index: 99;
      transition : 0.3s ease-in-out;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: absolute;
      top: -15px;
      text-align: center;
      cursor: pointer;
      color: white;
    }
    span {
      display: inline-block;
      margin-top: 8px;
      width: 15px;
      height: 15px;
      background-color: #fff;
      position: relative;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(50, 255, 74, 0.936);
    }
    #location-one {
        top: 230px;
        left: calc(7.7% * 3.5);
    }
    #location-two {
        top: 100px;
        left: calc(15.4% * 3.5);
    }
    #location-three {
        top: 150px;
        left: calc(23.1% * 3.5);
    }
    #location-four {
        top: 350px;
        left: calc(30.8% * 3.5);
    }
    #location-five {
        top: 300px;
        left: calc(38.5% * 3.5);
    }
    #location-six {
        top: 450px;
        left: calc(46.2% * 3.5);
    }
    #location-seven {
      top: 350px;
      left: calc(53.9% * 3.5);
    }
    #location-eight {
      top: 50px;
      left: calc(61.6% * 3.5);
    }
    #location-nine {
      top: 200px;
      left: calc(69.4% * 3.5);
    }
    #location-ten {
      top: 150px;
      left: calc(77.1% * 3.5);
    }
    #location-eleven {
      top: 350px;
      left: calc(84.8% * 3.5);
    }
    #location-twelve {
      top: 100px;
      left: calc(92.5% * 3.5);
    }
    #event-list-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 100vh);
      margin-right: 10px;
    }
    .event-card-container {
      grid-template-rows: repeat(12, 100vh);
    }
    .event-title {
      grid-area: 1 / 1 / 2 / 13;
    }
    .event-card {
      display: grid;
      grid-template-columns: repeat(12, 8.2%);
      grid-template-rows: 10% 40% 50%;
      border: 2px solid white;
      border-radius: 5px;
    }
    .image-container {
      grid-area: 2 / 1 / 3 / 13;
      width: 215px;
      background-color: aquamarine;
      height: 215px;
      border-radius: 5px;
      margin: auto auto;
      object-fit: contain;
    }
    .event-image {
      width: 215px;
      height: 215px;
      border-radius: 5px;
    }
    .event-content {
      grid-area: 3 / 1 / 4 / 13;
      color: white;
      width: 200px;
      height: auto;
      min-height: 100px;
      margin: auto auto;
      font-size: 9px;
      text-align: justify;
      overflow: auto;
    }
    .event-list-timeline {
      grid-area: 1 / 1 / 13 / 2;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(12, 100vh);
    }
}
@media only screen and (min-width: 376px) and (max-width: 426px) {
  #timeline {
    display: inline-block;
    width: calc(99.5% * 3);
    height: 10px;
    position: relative;
    box-shadow: 0 0 5px rgba(50, 255, 74, 0.936) inset;
    z-index: 1;
    background-color: lighten(#45AADA, 20%);
    top: 500px;
  }
    .dot {
      box-shadow: 0 0 5px rgba(50, 255, 74, 0.936) inset;
      z-index: 99;
      transition : 0.3s ease-in-out;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: absolute;
      top: -15px;
      text-align: center;
      cursor: pointer;
      color: white;
    }
    span {
      display: inline-block;
      margin-top: 8px;
      width: 15px;
      height: 15px;
      background-color: #fff;
      position: relative;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(50, 255, 74, 0.936);
    }
    #location-one {
        top: 230px;
        left: calc(7.7% * 3);
    }
    #location-two {
        top: 100px;
        left: calc(15.4% * 3);
    }
    #location-three {
        top: 150px;
        left: calc(23.1% * 3);
    }
    #location-four {
        top: 350px;
        left: calc(30.8% * 3);
    }
    #location-five {
        top: 300px;
        left: calc(38.5% * 3);
    }
    #location-six {
        top: 450px;
        left: calc(46.2% * 3);
    }
    #location-seven {
      top: 350px;
      left: calc(53.9% * 3);
    }
    #location-eight {
      top: 50px;
      left: calc(61.6% * 3);
    }
    #location-nine {
      top: 200px;
      left: calc(69.4% * 3);
    }
    #location-ten {
      top: 150px;
      left: calc(77.1% * 3);
    }
    #location-eleven {
      top: 350px;
      left: calc(84.8% * 3);
    }
    #location-twelve {
      top: 100px;
      left: calc(92.5% * 3);
    }
    #event-list-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 100vh);
      margin-right: 10px;
    }
    .event-card-container {
      grid-template-rows: repeat(12, 100vh);
    }
    .event-title {
      grid-area: 1 / 1 / 2 / 13;
    }
    .event-card {
      display: grid;
      grid-template-columns: repeat(12, 8.2%);
      grid-template-rows: 10% 40% 50%;
      border: 2px solid white;
      border-radius: 5px;
    }
    .image-container {
      grid-area: 2 / 1 / 3 / 13;
      width: 240px;
      background-color: aquamarine;
      height: 240px;
      border-radius: 5px;
      margin: auto auto;
      object-fit: contain;
    }
    .event-image {
      width: 240px;
      height: 240px;
      border-radius: 5px;
    }
    .event-content {
      grid-area: 3 / 1 / 4 / 13;
      color: white;
      width: 240px;
      height: auto;
      min-height: 100px;
      margin: auto auto;
      font-size: 9px;
      text-align: justify;
      overflow: auto;
    }
    .event-list-timeline {
      grid-area: 1 / 1 / 13 / 2;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(12, 100vh);
    }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  #timeline {
    display: inline-block;
    width: calc(99.5% * 2.5);
    height: 10px;
    position: relative;
    box-shadow: 0 0 5px rgba(50, 255, 74, 0.936) inset;
    z-index: 1;
    background-color: lighten(#45AADA, 20%);
    top: 500px;
  }
    .dot {
      box-shadow: 0 0 5px rgba(50, 255, 74, 0.936) inset;
      z-index: 99;
      transition : 0.3s ease-in-out;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: absolute;
      top: -15px;
      text-align: center;
      cursor: pointer;
      color: white;
    }
    span {
      display: inline-block;
      margin-top: 10px;
      width: 20px;
      height: 20px;
      background-color: #fff;
      position: relative;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(50, 255, 74, 0.936);
    }
    #location-one {
        top: 230px;
        left: calc(7.7% * 2.5);
    }
    #location-two {
        top: 100px;
        left: calc(15.4% * 2.5);
    }
    #location-three {
        top: 150px;
        left: calc(23.1% * 2.5);
    }
    #location-four {
        top: 350px;
        left: calc(30.8% * 2.5);
    }
    #location-five {
        top: 300px;
        left: calc(38.5% * 2.5);
    }
    #location-six {
        top: 450px;
        left: calc(46.2% * 2.5);
    }
    #location-seven {
      top: 350px;
      left: calc(53.9% * 2.5);
    }
    #location-eight {
      top: 50px;
      left: calc(61.6% * 2.5);
    }
    #location-nine {
      top: 200px;
      left: calc(69.4% * 2.5);
    }
    #location-ten {
      top: 150px;
      left: calc(77.1% * 2.5);
    }
    #location-eleven {
      top: 350px;
      left: calc(84.8% * 2.5);
    }
    #location-twelve {
      top: 100px;
      left: calc(92.5% * 2.5);
    }
    #event-list-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 60vh);
      margin-right: 10px;
    }
    .event-card-container {
      grid-template-rows: repeat(12, 60vh);
    }
    .event-title {
      grid-area: 1 / 1 / 2 / 13;
    }
    .event-card {
      display: grid;
      grid-template-columns: repeat(12, 8.2%);
      grid-template-rows: 20% 80%;
      border: 2px solid white;
      border-radius: 5px;
    }
    .image-container {
      grid-area: 2 / 1 / 3 / 7;
      background-color: aquamarine;
      width: 220px;
      height: 220px;
      border-radius: 5px;
      margin: auto auto;
      object-fit: contain;
    }
    .event-image {
      width: 220px;
      height: 220px;
      border-radius: 5px;
    }
    .event-content {
      grid-area: 2 / 7 / 3 / 13;
      color: white;
      width: 300px;
      height: 220px;
      min-height: 100px;
      margin: auto auto;
      font-size: 12px;
      text-align: justify;
      overflow: auto;
    }
    .event-list-timeline {
      grid-area: 1 / 1 / 13 / 2;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(12, 60vh);
    }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  #timeline {
    display: inline-block;
    width: calc(99.5% * 2);
    height: 10px;
    position: relative;
    box-shadow: 0 0 5px rgba(50, 255, 74, 0.936) inset;
    z-index: 1;
    background-color: lighten(#45AADA, 20%);
    top: 500px;
  }
    .dot {
      box-shadow: 0 0 5px rgba(50, 255, 74, 0.936) inset;
      z-index: 99;
      transition : 0.3s ease-in-out;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: absolute;
      top: -15px;
      text-align: center;
      cursor: pointer;
      color: white;
    }
    span {
      display: inline-block;
      margin-top: 8px;
      width: 15px;
      height: 15px;
      background-color: #fff;
      position: relative;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(50, 255, 74, 0.936);
    }
    #location-one {
        top: 230px;
        left: calc(7.7% * 2);
    }
    #location-two {
        top: 100px;
        left: calc(15.4% * 2);
    }
    #location-three {
        top: 150px;
        left: calc(23.1% * 2);
    }
    #location-four {
        top: 350px;
        left: calc(30.8% * 2);
    }
    #location-five {
        top: 300px;
        left: calc(38.5% * 2);
    }
    #location-six {
        top: 450px;
        left: calc(46.2% * 2);
    }
    #location-seven {
      top: 350px;
      left: calc(53.9% * 2);
    }
    #location-eight {
      top: 50px;
      left: calc(61.6% * 2);
    }
    #location-nine {
      top: 200px;
      left: calc(69.4% * 2);
    }
    #location-ten {
      top: 150px;
      left: calc(77.1% * 2);
    }
    #location-eleven {
      top: 350px;
      left: calc(84.8% * 2);
    }
    #location-twelve {
      top: 100px;
      left: calc(92.5% * 2);
    }
    .event-card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 10px 10px;
      border: 2px solid white;
      border-radius: 5px;
      height: auto;
    }
    #event-list-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 70vh);
      margin-right: 10px;
    }
    .event-card-container {
      grid-template-rows: repeat(12, 70vh);
    }
    .event-title {
      grid-area: 1 / 1 / 2 / 13;
    }
    .event-card {
      display: grid;
      grid-template-columns: repeat(12, 8.2%);
      grid-template-rows: 20% 80%;
      border: 2px solid white;
      border-radius: 5px;
    }
    .image-container {
      grid-area: 2 / 1 / 3 / 7;
      background-color: aquamarine;
      width: 280px;
      height: 280px;
      border-radius: 5px;
      margin: auto auto;
      object-fit: contain;
    }
    .event-image {
      width: 280px;
      height: 280px;
      border-radius: 5px;
    }
    .event-content {
      grid-area: 2 / 7 / 3 / 13;
      color: white;
      width: auto;
      height: 250px;
      min-height: 100px;
      margin: auto auto;
      font-size: 12px;
      text-align: justify;
      overflow: auto;
      padding-right: 5px;
    }
    .event-list-timeline {
      grid-area: 1 / 1 / 13 / 2;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(12, 70vh);
    }
}
@media only screen and (min-width: 1800px) {
  #event-list-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 70vh);
    margin-right: 10px;
  }
  .event-card-container {
    grid-template-rows: repeat(12, 70vh);
    grid-area: 1 / 4 / 13 / 11;
  }
  .event-title {
    grid-area: 1 / 1 / 2 / 13;
  }
  .event-card {
    display: grid;
    grid-template-columns: repeat(12, 8.2%);
    grid-template-rows: 20% 80%;
    border: 2px solid white;
    border-radius: 5px;
  }
  .image-container {
    grid-area: 2 / 1 / 3 / 7;
    background-color: aquamarine;
    width: 280px;
    height: 280px;
    border-radius: 5px;
    margin: auto auto;
    object-fit: contain;
  }
  .event-image {
    width: 280px;
    height: 280px;
    border-radius: 5px;
  }
  .event-content {
    grid-area: 2 / 7 / 3 / 13;
    color: white;
    width: auto;
    height: 250px;
    min-height: 100px;
    margin: auto auto;
    font-size: 12px;
    text-align: justify;
    overflow: auto;
    padding-right: 5px;
  }
  .event-list-timeline {
    grid-area: 1 / 3 / 13 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 70vh);
  }
  h1, h2 {
    color: white;
    text-align: center;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
}