html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: Arial, sans-serif;
}
#container {
    width: 100%;
    overflow: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#event-bg {
    width: 100%;
    overflow: auto;
    height: 610px;
    background-color: black;
    white-space: nowrap;
    position: relative;
    box-sizing: border-box;
}
#timeline {
  display: inline-block;
  width: calc(99.5% * 2);
  height: 10px;
  position: relative;
  box-shadow: 0 0 5px rgba(50, 255, 74, 0.936) inset;
  z-index: 1;
  background-color: lighten(#45AADA, 20%);
  top: 500px;
}
  .dot {
    box-shadow: 0 0 5px rgba(50, 255, 74, 0.936) inset;
    z-index: 99;
    transition : 0.3s ease-in-out;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    text-align: center;
    cursor: pointer;
    color: white;
  }
  .dot:hover {
    transform: scale(1.2);
  }
 #one{
    left: 7.7%;
    background-color: #150DF7;
  }
  #two{
    left: 15.4%;
    background-color: #150DF7;
  }
  #three{
    left: 23.1%;
    background-color: #150DF7;
  }
  #four{
    left: 30.8%;
    background-color: #150DF7;
  }
  #five{
    left: 38.5%;
    background-color: #150DF7;
  }
  #six{
    left: 46.2%;
    background-color: #150DF7;
  }
  #seven{
    left: 53.9%;
    background-color: #150DF7;
  }
  #eight{
    left: 61.6%;
    background-color: #150DF7;
  }
  #nine{
    left: 69.4%;
    background-color: #150DF7;
  }
  #ten{
    left: 77.1%;
    background-color: #150DF7;
  }
  #eleven{
    left: 84.8%;
    background-color: #150DF7;
  }
  #twelve{
    left: 92.5%;
    background-color: #150DF7;
  }
  span {
    display: inline-block;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(50, 255, 74, 0.936);
  }
.location {
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 3;
}
.location:hover {
    transform: scale(1.5);
}
#location-one {
    top: 230px;
    left: calc(7.7% * 2);
}
#location-two {
    top: 100px;
    left: calc(15.4% * 2);
}
#location-three {
    top: 150px;
    left: calc(23.1% * 2);
}
#location-four {
    top: 350px;
    left: calc(30.8% * 2);
}
#location-five {
    top: 300px;
    left: calc(38.5% * 2);
}
#location-six {
    top: 450px;
    left: calc(46.2% * 2);
}
#location-seven {
  top: 350px;
  left: calc(53.9% * 2);
}
#location-eight {
  top: 50px;
  left: calc(61.6% * 2);
}
#location-nine {
  top: 200px;
  left: calc(69.4% * 2);
}
#location-ten {
  top: 150px;
  left: calc(77.1% * 2);
}
#location-eleven {
  top: 350px;
  left: calc(84.8% * 2);
}
#location-twelve {
  top: 100px;
  left: calc(92.5% * 2);
}
#card-container {
  display: none;
  height: 300px;
  width: 250px;
  position: sticky;
  left: 10px;
  margin-top: -500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
    visibility: hidden;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 80%;
    height: 85%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.random {
  display: block;
  width: 100px;
  height: 500px;
}
.container {
  overflow-x: scroll;
  overflow-y: auto;
}
#event-bg::-webkit-scrollbar {
  display: none;
}
.horizontal-line {
  width: 100%;
  background-color: #fff;
  height: 2px;
}
h1, h2 {
  color: white;
  text-align: center;
}
h1 {
  font-size: 2.5rem;
}
.event-card {
  margin: 20px 100px;
  height: 470px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
}
.event-title {
  margin: 30px;
}
.image-container {
  width: 300px;
  height: 300px;
  float: left;
  margin: 10px 50px;
  border-radius: 5px;
  padding: 1px;
  position: relative;
}
.event-image {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}
.event-content {
  color: white;
  display: inline-block;
  width: 60%;
  height: 300px;
  margin: 10px 50px;
  font-size: 20px;
  text-align: justify;
}
.prev-image, .next-image {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.3);
}
.prev-image {
  left: 0;
}
.next-image {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev-image:hover, .next-image:hover {
  background-color: rgba(0,0,0,0.8);
}
.up-arrow {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
@media only screen and (max-width: 350px) {
  #timeline {
    display: inline-block;
    width: calc(99.5% * 3.5);
    height: 10px;
    position: relative;
    box-shadow: 0 0 5px rgba(50, 255, 74, 0.936) inset;
    z-index: 1;
    background-color: lighten(#45AADA, 20%);
    top: 500px;
  }
    .dot {
      box-shadow: 0 0 5px rgba(50, 255, 74, 0.936) inset;
      z-index: 99;
      transition : 0.3s ease-in-out;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: absolute;
      top: -15px;
      text-align: center;
      cursor: pointer;
      color: white;
    }
    span {
      display: inline-block;
      margin-top: 8px;
      width: 15px;
      height: 15px;
      background-color: #fff;
      position: relative;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(50, 255, 74, 0.936);
    }
    #location-one {
        top: 230px;
        left: calc(7.7% * 3.5);
    }
    #location-two {
        top: 100px;
        left: calc(15.4% * 3.5);
    }
    #location-three {
        top: 150px;
        left: calc(23.1% * 3.5);
    }
    #location-four {
        top: 350px;
        left: calc(30.8% * 3.5);
    }
    #location-five {
        top: 300px;
        left: calc(38.5% * 3.5);
    }
    #location-six {
        top: 450px;
        left: calc(46.2% * 3.5);
    }
    #location-seven {
      top: 350px;
      left: calc(53.9% * 3.5);
    }
    #location-eight {
      top: 50px;
      left: calc(61.6% * 3.5);
    }
    #location-nine {
      top: 200px;
      left: calc(69.4% * 3.5);
    }
    #location-ten {
      top: 150px;
      left: calc(77.1% * 3.5);
    }
    #location-eleven {
      top: 350px;
      left: calc(84.8% * 3.5);
    }
    #location-twelve {
      top: 100px;
      left: calc(92.5% * 3.5);
    }
    .event-card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 10px 10px;
      border: 2px solid white;
      border-radius: 5px;
    }
    .image-container {
      width: 200px;
      height: 200px;
      background-color: greenyellow;
      margin: 10px 50px;
      border-radius: 5px;
      padding: 1px;
      position: relative;
    }
    .event-image {
      width: 200px;
      height: 200px;
      border-radius: 5px;
    }
    .event-content {
      color: white;
      width: 200px;
      height: auto;
      margin: 10px 10px;
      font-size: 9px;
      text-align: justify;
      overflow: auto;
    }
}
@media only screen and (min-width: 350px) and (max-width: 450px) {
  #timeline {
    display: inline-block;
    width: calc(99.5% * 3);
    height: 10px;
    position: relative;
    box-shadow: 0 0 5px rgba(50, 255, 74, 0.936) inset;
    z-index: 1;
    background-color: lighten(#45AADA, 20%);
    top: 500px;
  }
    .dot {
      box-shadow: 0 0 5px rgba(50, 255, 74, 0.936) inset;
      z-index: 99;
      transition : 0.3s ease-in-out;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: absolute;
      top: -15px;
      text-align: center;
      cursor: pointer;
      color: white;
    }
    span {
      display: inline-block;
      margin-top: 8px;
      width: 15px;
      height: 15px;
      background-color: #fff;
      position: relative;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(50, 255, 74, 0.936);
    }
    #location-one {
        top: 230px;
        left: calc(7.7% * 3);
    }
    #location-two {
        top: 100px;
        left: calc(15.4% * 3);
    }
    #location-three {
        top: 150px;
        left: calc(23.1% * 3);
    }
    #location-four {
        top: 350px;
        left: calc(30.8% * 3);
    }
    #location-five {
        top: 300px;
        left: calc(38.5% * 3);
    }
    #location-six {
        top: 450px;
        left: calc(46.2% * 3);
    }
    #location-seven {
      top: 350px;
      left: calc(53.9% * 3);
    }
    #location-eight {
      top: 50px;
      left: calc(61.6% * 3);
    }
    #location-nine {
      top: 200px;
      left: calc(69.4% * 3);
    }
    #location-ten {
      top: 150px;
      left: calc(77.1% * 3);
    }
    #location-eleven {
      top: 350px;
      left: calc(84.8% * 3);
    }
    #location-twelve {
      top: 100px;
      left: calc(92.5% * 3);
    }
    .event-card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 10px 10px;
      border: 2px solid white;
      border-radius: 5px;
      height: auto;
    }
    .image-container {
      width: 300px;
      height: 300px;
      background-color: greenyellow;
      margin: 10px 50px;
      border-radius: 5px;
      padding: 1px;
      position: relative;
    }
    .event-image {
      width: 300px;
      height: 300px;
      border-radius: 5px;
    }
    .event-content {
      color: white;
      width: 300px;
      height: auto;
      margin: 10px 10px;
      font-size: 15px;
      text-align: justify;
      overflow: auto;
    }
}
@media only screen and (min-width: 450px) and (max-width: 600px) {
  #timeline {
    display: inline-block;
    width: calc(99.5% * 2.5);
    height: 10px;
    position: relative;
    box-shadow: 0 0 5px rgba(50, 255, 74, 0.936) inset;
    z-index: 1;
    background-color: lighten(#45AADA, 20%);
    top: 500px;
  }
    .dot {
      box-shadow: 0 0 5px rgba(50, 255, 74, 0.936) inset;
      z-index: 99;
      transition : 0.3s ease-in-out;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: absolute;
      top: -15px;
      text-align: center;
      cursor: pointer;
      color: white;
    }
    span {
      display: inline-block;
      margin-top: 10px;
      width: 20px;
      height: 20px;
      background-color: #fff;
      position: relative;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(50, 255, 74, 0.936);
    }
    #location-one {
        top: 230px;
        left: calc(7.7% * 2.5);
    }
    #location-two {
        top: 100px;
        left: calc(15.4% * 2.5);
    }
    #location-three {
        top: 150px;
        left: calc(23.1% * 2.5);
    }
    #location-four {
        top: 350px;
        left: calc(30.8% * 2.5);
    }
    #location-five {
        top: 300px;
        left: calc(38.5% * 2.5);
    }
    #location-six {
        top: 450px;
        left: calc(46.2% * 2.5);
    }
    #location-seven {
      top: 350px;
      left: calc(53.9% * 2.5);
    }
    #location-eight {
      top: 50px;
      left: calc(61.6% * 2.5);
    }
    #location-nine {
      top: 200px;
      left: calc(69.4% * 2.5);
    }
    #location-ten {
      top: 150px;
      left: calc(77.1% * 2.5);
    }
    #location-eleven {
      top: 350px;
      left: calc(84.8% * 2.5);
    }
    #location-twelve {
      top: 100px;
      left: calc(92.5% * 2.5);
    }
    .event-card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 10px 10px;
      border: 2px solid white;
      border-radius: 5px;
      height: auto;
    }
    .image-container {
      width: 400px;
      height: 400px;
      background-color: greenyellow;
      margin: 10px 50px;
      border-radius: 5px;
      padding: 1px;
      position: relative;
    }
    .event-image {
      width: 400px;
      height: 400px;
      border-radius: 5px;
    }
    .event-content {
      color: white;
      width: 400px;
      height: auto;
      margin: 10px 10px;
      font-size: 20px;
      text-align: justify;
      overflow: auto;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1480px) {
  #timeline {
    display: inline-block;
    width: calc(99.5% * 2);
    height: 10px;
    position: relative;
    box-shadow: 0 0 5px rgba(50, 255, 74, 0.936) inset;
    z-index: 1;
    background-color: lighten(#45AADA, 20%);
    top: 500px;
  }
    .dot {
      box-shadow: 0 0 5px rgba(50, 255, 74, 0.936) inset;
      z-index: 99;
      transition : 0.3s ease-in-out;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: absolute;
      top: -15px;
      text-align: center;
      cursor: pointer;
      color: white;
    }
    span {
      display: inline-block;
      margin-top: 8px;
      width: 15px;
      height: 15px;
      background-color: #fff;
      position: relative;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(50, 255, 74, 0.936);
    }
    #location-one {
        top: 230px;
        left: calc(7.7% * 2);
    }
    #location-two {
        top: 100px;
        left: calc(15.4% * 2);
    }
    #location-three {
        top: 150px;
        left: calc(23.1% * 2);
    }
    #location-four {
        top: 350px;
        left: calc(30.8% * 2);
    }
    #location-five {
        top: 300px;
        left: calc(38.5% * 2);
    }
    #location-six {
        top: 450px;
        left: calc(46.2% * 2);
    }
    #location-seven {
      top: 350px;
      left: calc(53.9% * 2);
    }
    #location-eight {
      top: 50px;
      left: calc(61.6% * 2);
    }
    #location-nine {
      top: 200px;
      left: calc(69.4% * 2);
    }
    #location-ten {
      top: 150px;
      left: calc(77.1% * 2);
    }
    #location-eleven {
      top: 350px;
      left: calc(84.8% * 2);
    }
    #location-twelve {
      top: 100px;
      left: calc(92.5% * 2);
    }
    .event-card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 10px 10px;
      border: 2px solid white;
      border-radius: 5px;
      height: auto;
    }
    .image-container {
      width: 400px;
      height: 400px;
      float: left;
      background-color: greenyellow;
      margin: 10px 50px;
      border-radius: 5px;
      padding: 1px;
      position: relative;
    }
    .event-image {
      width: 400px;
      height: 400px;
      border-radius: 5px;
    }
    .event-content {
      color: white;
      display: inline-block;
      width: 60%;
      height: auto;
      margin: 10px 10px;
      font-size: 20px;
      text-align: justify;
      margin-bottom: 50px;
    }
}
@media only screen and (min-width: 1800px) and (max-width: 2100px) {
  .event-card {
    margin: 20px 100px;
    height: auto;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
  }
  .event-title {
    margin: 30px;
  }
  .image-container {
    width: 400px;
    height: 400px;
    float: left;
    border-radius: 5px;
    padding: 1px;
    margin-left: 100px;
    margin-top: 50px;
    position: relative;
  }
  .event-image {
    width: 400px;
    height: 400px;
    border-radius: 5px;
  }
  .event-content {
    color: white;
    display: inline-block;
    width: 60%;
    height: 300px;
    margin: 10px 50px;
    font-size: 30px;
    text-align: justify;
    margin-bottom: 40px;
  }
  h1, h2 {
    color: white;
    text-align: center;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 2100px) {
  .event-card {
    margin: 20px 100px;
    height: 600px;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
  }
  .event-title {
    margin: 30px;
  }
  .image-container {
    width: 400px;
    height: 400px;
    float: left;
    border-radius: 5px;
    padding: 1px;
    margin-left: 200px;
    margin-bottom: 50px;
    position: relative;
  }
  .event-image {
    width: 400px;
    height: 400px;
    border-radius: 5px;
  }
  .event-content {
    color: white;
    display: inline-block;
    width: 60%;
    height: 300px;
    margin: 10px 50px;
    font-size: 30px;
    text-align: justify;
  }
  h1, h2 {
    color: white;
    text-align: center;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
}